.navbar {
    background-color: #333;
    font-size: 1.2em;
    padding: 1em;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.navbar ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.navbar ul li {
   display: inline;
   margin: 0 1em;
}
.navbar ul li a {
  color: #fff;
}
.main-content {
  padding-top: 1em; 
  background-color: beige;
}
.main-content section {
  padding: 2em 1em;
  text-align: center;
}
#home h1 { 
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-style: oblique;
  }
 #home p {
    font-size: 1.2em;
    color: #666;
  }
  #home img{
    background-image: none;
    width:1%;
  }
.description h2 {
  text-align: center;
  font-style: oblique;
  font-size: xx-large;
  padding-top: 0px;
}
.description p{
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em ;
}
.portfolio-item {
 background-color: #fff;
 border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s;
}
.portfolio-item h3 {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.portfolio-item p {
    color: #666;
    margin-bottom: 0.5em;
}
.portfolio-item img {
 box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.portfolio-item:hover {
transform: scale(1.05);
}

.coding{
  display: flex;
  justify-content: space-around;
}
.coding-item img{
  box-shadow: 0px 2px 5px grey;
  width: 50%;
  border-radius: 5%;
}

.coding-item p{
  font-size: smaller;
}

h6 {
  font-style: italic;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.linkbar ul li{
  font-size: xx-large;
  padding-top: 10%;
}
#footer {
  display: flex;
  justify-content: center;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 2em;
  position: relative;
  bottom: 0;
  width: 100%;
}